{% extends "layout/auth.html" %}

{% block title %}Login{% endblock title %}

{% block content %}

    <div class="card m-auto mt-5">
        <div class="card-header">
            <h1 class="h3">Login</h1>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {% include "partials/form.html" with form=form %}
                <button type="submit" class="btn btn-primary mt-2">Acessar</button>
            </form>
            <a href="{% url 'users:signup' %}">Cadastrar</a>
        </div>
    </div>

{% endblock content %}