{% extends "layout/base.html" %}

{% load i18n %}

{% block title %}{% trans "My data" %}{% endblock title %}

{% block content %}

    <div class="card mt-5">
        <div class="card-body">
            <h1 class="h3">{% trans "My data" %}</h1>
            
            <form method="post">
                {% csrf_token %}
                {% include "partials/form.html" with form=form %}
                <button type="submit" class="btn btn-primary mt-2">{% trans "Update" %}</button>
            </form>
        </div>
    </div>

{% endblock content %}